<% if model.present? %>
<% if model.errors.any? %>
  <div class="alert alert-danger">
    <h2>
      <%= pluralize(model.errors.count, "error") %>
    </h2>
    <ul class="list-group-numbered">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>
